.content {
	margin: 70px 0px;
}
.article-table td a{
	padding: 0px 2px;
}
.article-table td a span{
	font-size: 14px;
}
body{
	background: url("./uploads/444.png") center top no-repeat;

}
.fa{
	padding-right: 10px;
}

.right{
	float: right;
}

.pagination{
	margin: 0 0;
}

.footer {
	padding: 5px 0px;
	line-height: 40px;
	font-size: 16px;
}
